* {
    padding-left: 3vw;
    padding-right: 6vw;
}

.podcast {
    border: 2px rgb(150, 0, 0) solid;
    margin: -1px;
}

h1 {
    padding: 1vw 1vw 8vw 6vw;
}

h1 img {
    padding: 0;
    margin: 0;
}

.index {
    text-decoration: none;
    padding: 0;
    user-select: none;
    color: black;
}

.index:link {
    text-decoration: none;
    color: black;
}

.index:focus {
    outline: none !important;
    color: black;
}

.index:visited {
    text-decoration: none;
    color: black;
}

.date {
    color: rgb(120, 120, 120);
}

h2 {
    font-size: large;
}

.descrip {
    color: rgb(80, 80, 80);
}

.listen {
    padding: 0vw 0vw 12vw 0vw;
    color: #009E28;
}

.listen img {
    padding-right: 1vw;
}

.listen a {
    text-decoration: none;
    padding: 0;
    user-select: none;
    color: #009E28;
}

.listen a:link {
    text-decoration: none;
    color: #009E28;
}

.listen a:focus {
    outline: none !important;
    color: #009E28;
}

.listen a:visited {
    text-decoration: none;
    color: #009E28;
}

.audio {
    padding: 0vw;
}

.error {
    margin: auto;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.home {
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    padding: 0;
}